<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
     <header>
         <nav class="container">
             <!-- Logo of questgen here-->
             <div id="logo">
                 <img src="{% static 'images/QuestGenLogo.png' %}" alt="">
             </div>
             
             <!-- Navbar here -->
             <ul class="menu">
                 <li><a href="#">Home</a></li>
                 <li><a href="#">How it Works</a></li>
                 <li><a href="#">Take Test</a></li>
                 <li><a href="#">Signup</a></li>
                 <li><a href="#">Login</a></li>
             </ul>
         </nav>
     </header>
     <div class="container">
          
     </div>
</body>
</html>