{% extends "Questgen/base.html" %}
{% block content %}
{% load static %}

<form>
    {% csrf_token %}
    <div class="quiz-container">
        <div class="row">
            <!-- LHS -->
            <div class="col-9">
                <div class="quiz-body">
                    <div class="quiz-header">
                        <div class="quiz-header-title">
                            <h3>Section A: Cloze-Questions</h3>
                        </div>
                        <p>Date : {{ curr_datetime }}</p>
                    </div>
                    <hr style="border-top: 3px solid var(--purple);">

                    <div class="question">
                        {% for question in cloze_questions %}
                            <div class="question-1">   
                                <p>Q : {{ question.question }}</p> 
                                <p>A : {{ question.answer }}</p> 
                                <p>Options : {{ question.distractors }}</p> 
                            </div> 
                        {% endfor %}
                    </div>


                    <div class="quiz-header">
                        <div class="quiz-header-title">
                            <h3>Section B: Wh-Questions</h3>
                        </div>
                    </div>
                    <hr style="border-top: 3px solid var(--purple);">
                    <div class="question">
                        {% for pairs in wh_questions %}
                            <div class="question-1">
                                <p>S : {{ pairs.0 }}</p>
                                <p>Q : {{ pairs.1 }}</p>
                            </div> 
                        {% endfor %}
                    </div>
                </div>
            </div>

            <!-- RHS -->
            <div class="col-3">
                <div class="status" id="floater">
                    Instructions for Human Evaluation Metrics goes here:
                    
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}


                        <!-- <div class="custom-control custom-radio">
                            <input type="radio" id="option-2" name="options" class="custom-control-input">
                            <label class="custom-control-label" for="option-2">Windows</label>
                        </div> 
                        <div class="custom-control custom-radio">
                            <input type="radio" id="option-3" name="options" class="custom-control-input">
                            <label class="custom-control-label" for="option-3">MAC</label>
                        </div> 
                        <div class="custom-control custom-radio">
                            <input type="radio" id="option-4" name="options" class="custom-control-input">
                            <label class="custom-control-label" for="option-4">DOS</label>
                        </div> -->