{% extends "Questgen/base.html" %}
{% block content %}
{% load static %}
<div class="taketest-container">
    <!-- Errors if any -->
    {% for message in messages %}
        <div class="alert alert-danger">
            <a class="close" href="#" data-dismiss="alert">×</a>
            {{ message }}
        </div>
    {% endfor %}
    <!-- End Errors -->

    <form method="post" enctype="multipart/form-data" id="my_form">
        {%csrf_token%}
        <div class="row">
            <div class="col-7 lhs-div">
                <h1 style="font-family: roboto-medium; color: var(--font-dark-black);">I want to Generate Questions and...</h1>
                <a data-toggle="modal" data-target="#settingsModal" style="margin-top: 25px;" class="btn btn-primary btn-lg" href="#" role="button">Rate them<i class="arrow-icon"></i></a>
                
                <!-- Modal -->
                <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">Options</h3>
                        </div>
                        <div class="modal-body">
                            <p>No. of Questions to Generate : <input type="range" value="10" name="count" id="count" min="1" max="30" oninput="this.nextElementSibling.value = this.value" required>&nbsp;<output>10</output></p>    
                        </div>
                        <div class="modal-footer" style="margin: auto;">
                            <a class="btn btn-primary btn-sm" href="#" role="button" data-dismiss="modal">Close</a>
                            <a class="btn btn-primary btn-sm" href="javascript:{}" onclick="document.getElementById('my_form').submit();" role="button">Proceed<i class="arrow-icon"></i></a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Modal End -->

                <br>

    
                <button style="margin-top: 25px;" class="btn btn-primary btn-lg" type="submit"  name="download" id="download">Download<i class="arrow-icon"></i></a>
            </div>
            <div class="col-5 rhs-div">
                <div class="drop-zone">
                    <span class="drop-zone__prompt">Drop file here or click to choose from computer</span>
                    <input type="file" name="myDocument" class="drop-zone__input">
                </div>
                <span id="file-error"></span>
                <br>
                <span>* Please upload a .txt input file</span>
            </div>
        </div>
    </form>
</div>

<script src="{% static 'js/upload-handler.js'%}"></script>
{% endblock content %}