:root{
/*idhar sab important color daal dena agar dark mode use karege to kaam aayega
  While accessing use var(colorname)*/
    --body-background: #f3f6ff;
    --container-background: #e3e6ef;
    --font-dark-black: #273238;
    --font-grey: #75767b;
    --btn-color: #42a5f6;
    --purple: #9f42aa;
}

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: 'roboto-black';
  src: url("../fonts/Roboto-Black.ttf");
}

/* ------- Media Queries -------*/
/* @media (min-width: 576px) {
    .container, .container-sm {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container, .container-sm, .container-md {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1140px;
    }
  } */
/* ------- Media Queries end-------- */


/* Default Settings */
body,html{
    height: 100vh;
}
*,
*::before,
*::after {
    margin:0;
    padding : 0;
    box-sizing: border-box;
}
article,
aside,
footer,
header,
menu,
nav,section{
    display: block; 
}

/* h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
} */
a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}
ul,ol{
    list-style: none;
}

button,input,select,textarea{
    font: inherit; 
}
button{
    cursor: pointer;
}
img{
    display: block;
    max-width: 100%;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
td,th{
    padding: 0; 
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: var(--container-background);
  border-color: var(--purple);
  background-color: var(--purple);
}

/*Default ends here */




#bootstrap-override body{
    font-size: 1rem;
    font-family: "Sans Serif";
    background-image : url("../images/bg.png");
    background-color: var(--body-background);
    background-repeat : repeat-y;
    
    background-position: 80% 165vh;
}


.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto ;
}
header{
    padding: 0 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#logo{
    width: 20%;
    height: auto;
}
.menu{
    flex-basis: 100%;
}

#bootstrap-override .navLogo {
  margin: 0px;
  width: 150px;
}

#bootstrap-override hr.navDivider {
  border-top: 3px solid rgba(159, 66, 170, 0.56);
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
}

#bootstrap-override body header nav{
  font-family: roboto-light;
  color: var(--font-grey);
  font-size: 25px;
}

#bootstrap-override body header nav .active{
  font-family: roboto-medium;
  color: var(--font-dark-black);
}


#bootstrap-override .navbar-nav {
  margin-right: 0px;
  margin-left: 770px;
}


#bootstrap-override .nav-item {
  width: auto;
  margin-left: 10px;
}

#bootstrap-override .nav-link {
  padding-top: 55px;
  padding-bottom: 0px;
}

div .jumbotron {
  text-align: center;
  padding-top: 150px;
}

div .jumbotron .container .display-3 {
  font-family: roboto-black;
  color: var(--font-dark-black);
}

div .jumbotron .container p.lead {
  font-family: roboto-medium;
  color: var(--font-dark-black);
}

.btn {
  color: #fff;
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  position: relative;
}

.btn-lg {
  font-family: roboto-medium;
  font-size: 25px;
  border-radius: 50rem;
  width: 300px;
}

.btn-sm {
  font-family: roboto-medium;
  font-size: 15px;
  border-radius: 50rem;
  width: 150px;
}

i.arrow-icon {
  background: url("../images/arrow.png") no-repeat;
  background-size: cover;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}


/* Login/Signup CSS */
.auth-container {
  margin-top: 50px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: var(--container-background);
  -webkit-box-shadow: 0px 0px 16px 6px rgba(50, 50, 50, 0.18);
  -moz-box-shadow:    0px 0px 16px 6px rgba(50, 50, 50, 0.18);
  box-shadow:         0px 0px 16px 6px rgba(50, 50, 50, 0.18);
}

.auth-container .tab-header {
  height: 50px;
  line-height: 50px;
}

.auth-container .tab-header a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.auth-container .tab-header > div {
  width: 50%;
  float: left;
  text-align: center;
  background: #c3c6cd;
  color: var(--font-grey);
  cursor: pointer;
  font-family: roboto-medium;
  color: var(--font-grey);
  font-size: 32px;
  padding: 10px;
}

.auth-container .tab-header > div.active {
  background: var(--container-background);
  color: var(--font-dark-black);
  position: relative;
  display: inline-block;
}

.auth-container .tab-header > div.active::after {
  content: '';
  height: 2px;
  width: 30%;
  position: absolute;
  left: calc(50% - 15%);
  bottom: 0;
  background-color: var(--purple);
  border-radius: 80em;
}

.auth-container .tab-content {
  padding: 20px;
}

.auth-container .tab-content .form-group {
  margin: 10px 0px;
}

.auth-container .tab-content .form-group input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--purple);
  font-size: 16px;
  background: var(--body-background);
  border-radius: 50rem;
  outline: none;
}

.auth-container .tab-content > div.active {
  display: block;
  margin-top: 40px;
}

.auth-container .tab-content > div {
  display: none;
}

/* Take Test CSS */
div.taketest-container {
  margin-top: 50px;
  padding-left: 80px;
  padding-right: 80px;
}

div.taketest-container .lhs-div {
  border-right: 3px var(--purple) solid;
}

.drop-zone {
  max-width: 500px;
  height: 250px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
  background-color: var(--container-background);
  color: var(--font-dark-black);
  border: 3px dashed var(--font-grey);
  border-radius: 10px;
}

.drop-zone--over {
  border-style: solid;
}

.drop-zone__input {
  display: none;
}

.drop-zone__thumb {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.drop-zone__thumb::after {
  content: attr(data-label);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
  font-size: 14px;
  text-align: center;
}

#file-error {
  color: red;
}

.modal-backdrop {
  background-color: #9478c4;
}

.modal-content {
  background-color: var(--container-background);
}

#bootstrap-override .modal{
  font-family: roboto-light;
  color: var(--font-dark-black);
  font-size: 20px;
}

#bootstrap-override .modal .modal-header {
  font-family: roboto-black;
  color: var(--font-dark-black);
  font-size: 21px;
  margin: auto;
}