:root{
/*idhar sab important color daal dena agar dark mode use karege to kaam aayega
  While accessing use var(colorname)*/
    --body-background: #fff;
    --primary-color: purple;
    --secondary-color: cyan;
    --btn-color: red;
}

/* ------- Media Queries -------*/
@media (min-width: 576px) {
    .container, .container-sm {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container, .container-sm, .container-md {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
      max-width: 1140px;
    }
  }
/* ------- Media Queries end-------- */


/* Default Settings */
body,html{
    height: 100%;
}
*,
*::before,
*::after {
    margin:0;
    padding : 0;
    box-sizing: border-box;
}
article,
aside,
footer,
header,
menu,
nav,section{
    display: block; 
}

h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
}
a {
    text-decoration: none;
    color: inherit;
    background-color: transparent;
}
ul,ol{
    list-style: none;
}

button,input,select,textarea{
    font: inherit; 
}
button{
    cursor: pointer;
}
img{
    display: block;
    max-width: 100%;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
td,th{
    padding: 0; 
}

/*Default ends here */


body{
    font-size: 1rem;
    font-family: "Sans Serif";
    background-image : url("../images/wave1.svg");
    background-repeat : no-repeat;
    background-position: center bottom;
}

.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto ;
}
header{
    padding: 1.5rem 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#logo{
    width: 20%;
    height: auto;
}
.menu{
    flex-basis: 100%;
}


